*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
nav{
  background: black;
  display: block;
  color: white;
  text-align: center;
}
nav a{
  color: white;
  font-size: 18px;
  padding:12px;
  display: block;
  font-weight: 600;
}
a{
  text-decoration: none;
}
/*Home Page*/
.mainTitle{
  text-align: center;
}
.teamSec{
  float: left;
  width: 30%;
  margin: 1.5%;
  border: 1px solid gray;
  border-radius: 10px;
}
.teamSec img{
  width: 20px;
}
.teamSec li{
  float: left;
  list-style: none;
  padding-left: 2px;
}
